@model Application.ViewModels.AddModuleViewModel

@{
    ViewData["Title"] = "Add Module";
}

<section>
    <h4 class="fw-bold mb-3">Add New Module</h4>

    <div id="form" class="position-absolute top-50 start-50 translate-middle col-8">
        @Html.AntiForgeryToken()
        
        @using (Html.BeginForm("Add", "Modules", FormMethod.Post))
        {
            <div class="row mb-4">
                <div class="col-12">
                    @Html.LabelFor(assignment => assignment.CourseName, "Course", new { @class = "form-label" })
                    @Html.DropDownListFor(assignment => assignment.CourseName, ViewBag.Courses as SelectListItem[], new { @class = "form-select" })
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-sm-12 col-md-12 col-lg-6 mb-lg-0 mb-md-3 mb-sm-3">
                    @Html.LabelFor(assignment => assignment.Name, "Module", new { @class = "form-label" })
                    @Html.TextBoxFor(assignment => assignment.Name, new
                    {
                        @class = "form-control",
                        placeholder = "Website Design"
                    })
                    @Html.ValidationMessageFor(assignment => assignment.Name, null, new { @class = "text-danger"})
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    @Html.LabelFor(assignment => assignment.Year, "Year", new { @class = "form-label" })
                    @Html.DropDownListFor(assignment => assignment.Year, ViewBag.Years as SelectListItem[], new { @class = "form-select" })
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 mb-2">
                    <div class="col d-flex justify-content-between align-items-center">
                        @Html.LabelFor(assignment => assignment.SemesterNumber, "Semester 1", new { @class = "form-label my-auto" })
                        @Html.RadioButtonFor(assignment => assignment.SemesterNumber, 1, new { @class = "form-check-input" })
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="col d-flex justify-content-between align-items-center">
                        @Html.LabelFor(assignment => assignment.SemesterNumber, "Semester 2", new { @class = "form-label my-auto" })
                        @Html.RadioButtonFor(assignment => assignment.SemesterNumber, 2, new { @class = "form-check-input" })
                    </div>
                </div>
                @Html.ValidationMessageFor(assignment => assignment.SemesterNumber, null, new { @class = "text-danger"})
            </div>

            <input type="submit" value="Save" class="btn btn-success alert alert-success col-12 p-2"/>
        }
    </div>
</section>